In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import Normalizer

In [21]:
df = pd.read_csv('Ticket10.csv')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df

X = df.drop(['Price'], axis=1)
y = df['Price']

print(X,y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.34, random_state=496)
model = LinearRegression()
model.fit(X_train, y_train)

y_predict = model.predict(X_test)

     Airline  Source  Destination  Day  Total_Stops  Additional_Info  Route  \
0          3       0            5    3            3                2      6
1          1       3            0    2            1                2     23
2          4       2            1    0            1                2     45
3          3       3            0    4            0                2     27
4          3       0            5    4            0                2      9
..       ...     ...          ...  ...          ...              ...    ...
494        1       2            1    4            0                2     33
495        4       3            0    6            0                0     15
496        4       2            1    4            0                2     34
497        4       2            1    0            0                0     34
498        7       3            0    6            0                2     19

     Dep_Time  Duration  Month
0         149       170      3
1          17       445      1
2          47      1140      9
3         114       325     12
4         103       285      1
..        ...       ...    ...
494       111       315      3
495        79      1155      6
496       138       450      6
497        53       540      1
498       133      1440      5

[499 rows x 10 columns] 0       3897.0
1       7662.0
2      13882.0
3       6218.0
4      13302.0
        ...
494     5704.0
495     9663.0
496    14714.0
497     5406.0
498     8610.0
Name: Price, Length: 499, dtype: float64

In [22]:




print(mean_squared_error(y_test,y_predict))
print(mean_absolute_error(y_test,y_predict))
print(r2_score(y_test,y_predict))

8840757.188508583
2372.635193896295
0.5331057916833826